apiVersion: v1
kind: Service
metadata:
  name: shelly-exporter
  namespace: monitoring
  labels:
    app.kubernetes.io/name: shelly-exporter
    app.kubernetes.io/component: exporter
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: 9090
      name: metrics
      protocol: TCP
  selector:
    app: shelly-exporter
